body {

    margin: 0%;
    font-family: "Roboto", sans-serif;

}
.header{/*стиль для кл header*/
    background-image: url(../images/5aa0ff331257916204e4df83.jpg);
background-size: cover;
color: brown;
background-color: aqua;
}
.name{
    text-transform: uppercase;
}
.main-menu{
    font-size: 20px 0;
}