body {

    margin: 0%;
    font-family: "Roboto", sans-serif;

}
.header{/*стиль для кл header*/
    background-image: url(../images/5aa0ff331257916204e4df83.jpg);
background-size: cover;
color: brown;
background-color: rgb(149, 250, 242);
}
.name{
    text-transform: uppercase;
}
.main-menu{
    font-size: 20px 0;
    font-weight: bold;
    padding: 20px 0;
}
.main-menu a{/*применение для всех а, в main menu*/
color: rgb(73, 20, 158);
text-decoration: none;
}
.main-menu a:hover{
    color: coral;
    transition: 0.5s;
}
.btn{
    text-decoration: none;
    color: blue;
    font-weight:  bold;
    border: 2px solid chocolate;
    padding: 10px;
    border-radius: 5px;
}